body {
    font-family: Arial, sans-serif;
}

.social-links img {
    width: 30px;  /* 画像の幅を30pxに指定 */
    height: auto;  /* 高さは自動で調整されるように */
    margin-right: 10px;  /* 画像の間隔を取るためにマージンを追加 */
}

.profile-picture {
    width: 150px;
    border-radius: 50%;
}

.profile p {
    font-size: 1.2em;
    margin-top: 10px;
}

.thumbnail {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.publication-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.publication-details {
    display: flex;
    flex-direction: column;
}

.publication-title a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.publication-authors {
    font-size: 0.9em;
    margin-top: 5px;
}

.publication-journal {
    font-size: 0.8em;
    color: #555;
    margin-top: 5px;
}

.publication-item img {
    margin-right: 15px;
}

h2 {
    margin-top: 40px;
}

.presentations ol li {
    margin-bottom: 10px;
}
