/* ナビゲーションバーのスタイル */
.navbar {
    background-color: #fffdfc;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

/* ナビゲーションメニューの調整 */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* 右寄せにする */
    align-items: center;
}

/* Yasuhito Hayashiリンクのスタイル */
.navbar ul li:first-child {
    margin-right: auto; /* 左寄せ */
}

/* 他のメニュー項目のスペースを調整 */
.navbar ul li:not(:first-child) {
    margin-left: 5px; /* 他のリンク間のスペースを狭くする */
}

/* 各リンクのスタイル */
.navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #666;
    font-size: 18px;
    padding: 5px 10px; /* 文字周りの余白を調整 */
    white-space: nowrap;
}

.navbar ul li a:hover {
    color: #333;
}


body {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box; /* はみ出しを防ぐ */
    background-color: #fffdfc; /* 全ページにくすんだ青色の背景を適用 */
}


h2 {
    margin-top: 50px; /* 各セクションのタイトルの余白 */
}


.container {
    width: 70%;
    margin: 0 auto; /* 中央に配置 */
}

header {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

section {
    scroll-margin-top: 70px; /* ナビゲーションバーの高さに合わせた余白を追加 */
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.profile-picture {
    width: 150px;
    border-radius: 50%;
}

.profile p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #555;
}

.thumbnail {
    width: 100px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
    aspect-ratio: 1/1; /* 縦横比を1:1に固定 */
}

/* Publications */
.publication-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    min-height: 100px;
    color: #333;
}

.publication-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.publication-title a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}


.publication-authors {
    font-size: 1em;
    margin-top: 5px;
    color: #555;
}

.publication-journal {
    font-size: 1em;
    color: #777;
    margin-top: 5px;
}

.publication-item img {
    margin-right: 15px;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    aspect-ratio: 1/1; /* 画像の縦横比を1:1に固定 */
}

.publication-item .thumbnail-placeholder {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    aspect-ratio: 1/1; /* プレースホルダーの縦横比も1:1に固定 */
}

/* Projects */
.projects-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    min-height: 100px;
    color: #333;
}

.projects-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-title a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}


.projects-comments {
    font-size: 1.2em;
    margin-top: 5px;
    color: #555;
}

.projects-item img {
    margin-right: 15px;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    aspect-ratio: 1/1; /* 画像の縦横比を1:1に固定 */
}

.projects-item .thumbnail-placeholder {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    background-color: #f0f0f0;
    border-radius: 8px;
    aspect-ratio: 1/1; /* プレースホルダーの縦横比も1:1に固定 */
}

/* social */
.social-links {
    white-space: nowrap; /* 改行や空白を無視 */
    text-align: center; /* アイコンを中央揃えにする */
}

.social-links a {
    display: inline-block;
    vertical-align: middle; /* アイコンを中央揃え */
    margin-right: 10px; /* アイコン間のスペースを調整 */
}

.social-links img {
    width: 30px;
    height: auto;
}

h2 {
    margin-top: 50px;
    text-align: left;
    color: #333;
}

.presentations ol li, .grants ol li {
    margin-bottom: 10px;
    text-align: left;
    color: #333;
}

.presentations ol li {
    color: #555;
}

.grants ol li {
    color: #555;
}

/* ハンバーガーメニューのスタイル */
.hamburger-menu {
    display: none; /* デフォルトで非表示 */
    font-size: 24px;
    cursor: pointer;
    color: #666;
    position: absolute;
    right: 20px;
    top: 15px;
}

/* メディアクエリ：幅が768px以下の時にハンバーガーメニューを表示 */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block; /* 768px以下の画面幅のときに表示 */
    }

    .menu-item {
        display: none; /* 初期状態では非表示 */
        width: 100%; /* 幅を全体に広げる */
    }

    .menu-item.show {
        display: block; /* showクラスが付与された場合に表示 */
        background-color: #fffdfc;
        padding: 10px;
        text-align: left; /* メニュー項目を左寄せに */
        border-top: 1px solid #ccc;
    }

    .navbar ul {
        flex-direction: column; /* メニューを縦に並べる */
        align-items: stretch; /* リスト項目を幅いっぱいに広げる */
        width: 100%; /* ナビゲーション全体の幅 */
    }

    .navbar ul li a {
        display: block;
        width: 100%;
        padding: 10px 0;
    }
}

/* 幅が768px以上の場合にハンバーガーメニューを非表示にする */
@media (min-width: 769px) {
    .hamburger-menu {
        display: none; /* 768px以上の画面幅ではハンバーガーメニューを非表示 */
    }

    .menu-item {
        display: flex; /* メニュー項目は通常のフレックス表示 */
    }
}

/* フッターを固定 */
.site-footer {
    text-align: center;
    padding: 10px;
    background-color: #fffdfc;
    color: #666;
    margin-top: auto;
    border-top: 1px solid #ccc;
    width: 100%;
}

.blog-summary {
    display: flex;
    align-items: flex-start;
    /*border-bottom: 1px solid #ccc;*/
    padding: 15px 20px; /* パディングを少し調整 */
    flex-wrap: nowrap;
    background-color: #f5f5f5; /* くすんだ青色の背景 */
    border-radius: 8px; /* 角を少し丸める */
    margin-bottom: 15px; /* ブログ記事間のスペースを確保 */
}

.thumbnail-container {
    flex-shrink: 0;
    max-width: 150px; /* 必要であればここを変更 */
    width: auto; /* 幅を固定せず自動で決める */
    margin-right: 15px;
}

.thumbnail-original {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}

.blog-summary {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}

.content-container h2 {
    margin-top: 0;
}

.blog-date {
    color: #888;
    font-size: 0.9em;
}

.read-more {
    color: #007bff;
    text-decoration: none;
}

/* コードブロックのスタイル */
pre code {
    display: block;
    background-color: #f5f5f5; /* 灰色の背景色 */
    color: #333; /* 文字色を少し濃いめに */
    padding: 10px; /* 内側の余白 */
    border-radius: 5px; /* 角を丸める */
    overflow-x: auto; /* 横に長いコードのスクロール対応 */
    font-family: Consolas, Monaco, 'Courier New', monospace; /* 等幅フォント */
    font-size: 0.8em; /* 文字サイズを少し小さく */
    line-height: 1.2; /* 行間を広く */
}

pre {
    margin: 15px 0; /* 上下に余白を追加 */
}

/* ブログの段落のスタイル */
.blog-post-detail p {
    line-height: 1.6; /* 行間を広げる */
    margin: 1.5em 0; /* 段落の上下に余白を追加 */
}

/* 記事の要約部分のスタイル */
.blog-summary p {
    line-height: 1.6; /* 行間を広げる */
    margin: 1.2em 0; /* 段落の上下に余白を追加 */
}

/* ブログ内の画像スタイル */
.blog-post-detail img {
    max-width: 100%; /* 画像がコンテナの幅を超えないように調整 */
    height: auto; /* アスペクト比を保持 */
    display: block;
    margin: 20px auto; /* 画像を中央寄せ */
    border-radius: 8px; /* 角を丸める */
}