body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%; /* ページ全体を80%幅に制限 */
    margin: 0 auto; /* 中央に配置 */
}

header {
    text-align: center;
    margin-top: 20px;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.profile-picture {
    width: 150px;
    border-radius: 50%;
}

.profile p {
    font-size: 1.2em;
    margin-top: 10px;
}

.thumbnail {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.publication-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    min-height: 100px; /* 画像がなくても高さを確保 */
}

.publication-details {
    display: flex;
    flex-direction: column;
}

.publication-title a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.publication-authors {
    font-size: 0.9em;
    margin-top: 5px;
}

.publication-journal {
    font-size: 0.8em;
    color: #555;
    margin-top: 5px;
}

.publication-item img {
    margin-right: 15px;
}

.publication-item .thumbnail-placeholder {
    width: 100px;  /* 画像と同じ幅を確保 */
    height: 100px; /* 画像と同じ高さを確保 */
    margin-right: 15px; 
    background-color: #f0f0f0; /* プレースホルダーとして背景色を設定 */
}

.social-links img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

h2 {
    margin-top: 40px;
    text-align: left;
}

.presentations ol li {
    margin-bottom: 10px;
    text-align: left;
}

.grants ol li {
    margin-bottom: 10px;
    text-align: left;
}
